/* * {
  box-sizing: border-box;
} */

.header__main-headline {
  text-align: center;
  font-style: italic;
}

.main {
  height: 700px;
}

.game {
  display: flex;
  width: 90%;
  max-width: 1200px;
  height: 450px;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: center;
  background-color: green;
  z-index: 1;
}

.wood {
  position: relative;
  box-sizing: content-box;
  width: calc(70% - 100px);
  height: calc(100% - 100px);
  margin-right: 100px;
  margin-bottom: 100px;
  background-color: green;
  /* border: 1px solid black; */
  z-index: 1;
}

.fire-zone {
  width: calc(30%);
  height: 450px;
  background-color: white;
  background-color: yellow;
  /* border: 1px solid black; */
}

.controls {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.button {
  padding: 10px 5px;
  background-color: aqua;
}

.button:hover {
  background-color: rgb(17, 59, 248);
  cursor: pointer;
}

@keyframes stir {
  from {
    transform: translateY(5px);
  }
  to {
    transform: translateY(-5px);
  }
}

.rabbit {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
  background: url(img/bugs.png) no-repeat;
  background-size: contain;
  transition: left .3s ease-in-out, top .3s ease-in-out;
  z-index: 200;
}

.rabbit:hover {
  animation: stir .2s infinite;
  cursor: pointer;
}

.zombi {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
  /* background: url(img/bugs.png) no-repeat; */
  background: url(img/rabbit-zombi.png) no-repeat;
  background-size: contain;
  transition: left .9s ease-in-out, top .9s ease-in-out;
  z-index: 200;

  /* background-size: contain; */
}

.zombi:hover {
  animation: stir .4s infinite;
  cursor: pointer;
}

.hunter-container {
  position: relative;
  display: flex;
  align-items: center;
}

.hunter {
  display: inline-block;
  width: 100px;
  height: 100px;
  vertical-align: text-bottom;
  background: url(img/elmer-fudd-png-4.png) no-repeat;
  background-size: contain;
}

.hunter-watching {
  display: inline-block;
  width: 100px;
  height: 100px;
  vertical-align: text-bottom;
  background: url(img/elmer-2.png) no-repeat;
  background-size: contain;
}

/* @keyframes drunk {
  from {
    transform: matrix(1, 1, 0, 1, 10, 0);
  }
  to {
    transform: matrix(1, 0, 0, 1, 0, 0);
  }
} */

.hunter-drunk {
  /* animation: drunk 2s infinite ease-in-out; */
  transform: matrix(-1, 0, 0, 1, 0, 0);
}

.hunter-text {
  display: inline-block;
  width: calc(100% - 100px);
  height: 40px;
  vertical-align: text-bottom;
  /* font-weight: bold; */
}

.coords {
  position: absolute;
  top: 50%;
  right: 0;
  width: 80px;
  height: 80px;
  transform: translateY(-50%);
  font-weight: bold;
  background-image: url(img/rectangular-system.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.prohibition {
  opacity: 0.4;
  background: transparent;
}

.drink, 
.watch {
  display: inline-block;
  width: 48px;
  height: 48px;
  background-color: transparent;
}

.drink:hover, 
.watch:hover {
  cursor: pointer;
}

.watch {
  background: url(img/watch.png) no-repeat;
  background-position: center;
  background-size: contain;
}

.drink-none {
  /* background: url(img/bottle.png) no-repeat;
  background-position: center;
  background-size: contain; */
  background: url(img/bottle.png) no-repeat center, url(img/water-2.png) no-repeat top;
  /* background-position: center; */
  background-size: contain;
}

.drink-one {
  /* background: url(img/bottle.png) no-repeat;
  background-position: center;
  background-size: contain; */
  background: url(img/bottle.png) no-repeat center, url(img/water-2.png) no-repeat center;
  /* background-position: center; */
  background-size: contain;
}

.drink-two {
  /* background: url(img/bottle.png) no-repeat;
  background-position: center;
  background-size: contain; */
  background: url(img/bottle.png) no-repeat center, url(img/water-2.png) no-repeat bottom;
  /* background-position: center; */
  background-size: contain;
  filter: blur(.8px);
}

.drink-three {
  /* background: url(img/bottle.png) no-repeat;
  background-position: center;
  background-size: contain; */
  background: url(img/bottle.png) no-repeat center;
  /* background-position: center; */
  background-size: contain;
  filter: blur(2px);
}

